<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @carolina_panther.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @carolina_panther.first_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @carolina_panther.number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @carolina_panther.position %>
</p>

<p>
  <strong>Age:</strong>
  <%= @carolina_panther.age %>
</p>

<p>
  <strong>Years pro:</strong>
  <%= @carolina_panther.years_pro %>
</p>

<%= link_to 'Edit', edit_carolina_panther_path(@carolina_panther) %> |
<%= link_to 'Back', carolina_panthers_path %>
